/*remove after project is done*/
* {
  border: 1px solid red;
}
/* add roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  color: lightgray;
}

ul {
  list-style: none;
  gap: 20px;
  display: flex;
}

img {
  width: 400px;
  height: 200px;
  display: flex;
}

.header {
  display: flex;
  flex: 1;
  justify-content: space-around;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 20px;
  background-color: #1f2937;
}

.awesome {
  display: flex;
  padding: 50px 0px 50px;
  justify-content: space-around;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
  background-color: #1f2937;
  font-weight: bold;
  color: white;
}

/* this website is awesome */
.awesome title {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100px;
  font-size: 36px;
  color: white;
}

/* subtext */
.awesome p {
  display: flex;
  width: 400px;
  height: 50px;
  font-size: 15px;
  font-weight: normal;
  color: darkgray;
}

.awesome button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  border: px solid #3882f6;
  width: 100px;
  height: 30px;
  font-weight: bold;
}

.awesome img {
  display: flex;
  height: 250px;
  width: 500px;
}

.information-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.information-container .title {
  display: flex;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  flex-shrink: 0;
  font-weight: bold;
  
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  margin-top: 100px;
  color: black;
  max-width: 300px;
}
/* https://www.w3schools.com/css/css3_borders.asp */
.info img {
  display: flex;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 2px solid #3882f6;
  border-radius: 25px;

}


.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #e5e7eb;
}

.quote p {
  display: flex;
  font-size: 30px;
  font-style: italic;
  align-items: center;
  display: flex;
  width: 800px;
  gap: 50px;
}

span {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: flex-end;
  flex-shrink: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1000px;
  width: 2000px;
  gap: 20px;
  background-color: white;

}

.signup-background {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  background-color: #3882f6;

}

.signup-background title {
  display: flex;
  color: white;
}

.signup p {
  display: flex;
  height: 50;
  flex-grow: 0;
}

.signup-background button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: row;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
}

footer {
  display: flex;
  background-color: #1f2937;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
  /* fixes footer to bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
